.per-wrap {
    margin-top: 13.8rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.55fr;
    grid-template-areas: "item1 gap1 item2";
    margin-bottom: 21.75rem;
    overflow-x: hidden;
}

@media (max-width: 1000px) {
    .per-wrap {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "item2"
            "item1";
    }
}

.per-wrap > :nth-child(1) {
    grid-area: item1;
}

.per-wrap > :nth-child(3) {
    grid-area: gap1;
}

.per-wrap > :nth-child(2) {
    grid-area: item2;
}

.text-wrap {
    margin: 1.9rem 0 1.9rem 0;
    display: flex;
    flex-direction: column;
}

.person-photo {
    border-radius: 50%;
    background: url('../images/person.jpg') center / cover no-repeat;
    width: 21.8rem;
    height: 21.8rem;
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left top, #E70FAA 0%, #00C0FD 100%);
    width: 21.8rem;
    height: 21.8rem;
    border-radius: 50%;
    padding: 0.6rem;
}


@media (max-width: 768px) {
    .circle-wrapper {
        width: 50vw;
        height: 50vw;
        padding: 1.2vw;
    }

    .person-photo {
        width: 100%;
        height: 100%;
    }

    .per-wrap .p-wrap {
        font-size: 1.4rem;
        line-height: 1.5;
    }
}

.p-wrap {
    overflow-wrap: break-word;
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 3.6rem;
    letter-spacing: -0.1rem;
    line-height: 1.207;
    color: #42446E;
    text-align: left;
}


.gradient {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}







