.tech-title-group {
    display: grid;
    grid-gap: 5.8rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 7rem));
    justify-content: center;
    width: 100%;
    margin-top: 8.75rem;
    margin-bottom: 12.9rem;
}

.tech-logo-cont {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
}

@media (max-width: 768px) {

.tech-logo-cont{
    width: 1.5rem;
    height: 1.5rem;
}
    .tech-title-group {
        grid-gap: 2.4rem;
        grid-template-columns: repeat(auto-fit, minmax(10px, 3rem));
    }
    .tech-logo-cont img {
        width: 50px;
        height: auto;
    }
}