.normal-title {
    font-weight: 400;
    font-size: 2rem;
    color: #666666;
    line-height: 1.5;
    height: fit-content;
}


.bold-title {
    font-weight: 700;
    font-size: 3rem;
    color: #42446E;
    line-height: 1.5;
    height: fit-content;
}

@media (max-width: 768px) {
    .bold-title {
        font-size: 1.4rem;
    }

    .normal-title {
        font-size: 1rem;
    }
}

.title-group {
    overflow-wrap: break-word;
    font-family: 'Poppins', serif;
    display: grid;
    gap: 1.1rem;
}